<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button color="light" text="Voltar" ></ion-back-button>
    </ion-button>
    <ion-title>Lista de contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink] = "['/criarcontato']" routerdirection = "forward" color="tertiary" expand="block">Criar novo contato</ion-button> 
  <ion-toolbar>
    <ion-searchbar placeholder = "Buscar contato"></ion-searchbar>
  </ion-toolbar>   
  <ion-list>
    <ion-item *ngFor = 'let contatos of contatos'>
      <ion-grid>
        <ion-row>
         ID: {{contatos.id}}
        </ion-row>
        <ion-row>
         Nome: {{contatos.nome}}
        </ion-row>
        <ion-row>
         CEP: {{contatos.cep}}
        </ion-row>
        <ion-row>
         Rua: {{contatos.rua}}
        </ion-row>
        <ion-row>
         Bairro: {{contatos.bairro}}
        </ion-row>
        <ion-row>
         Cidade: {{contatos.cidade}}
        </ion-row>        
        <ion-button color="danger" size="small" (click) = 'deleteContato(contatos.id)'>Excluir</ion-button>
        <ion-button color="medium" size="small">Editar</ion-button>      
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
