<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button color="light" text="Voltar" ></ion-back-button>
    </ion-button>
    <ion-title>Lista de contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar placeholder = "Digite o nome do contato"
    [(ngModel)] = "queryText" (ionInput) = "filterNome($event)" clearInput 

  </ion-searchbar>>-->

  <ion-button [routerLink] = "['/criarcontato']" routerdirection = "forward" color="tertiary" expand="block">Criar novo contato</ion-button> 
  <ion-toolbar>
<ion-card *ngFor = 'let contato of contatos'>  
    <ion-card-content>
      <ion-card-title>
        {{contato.nome}}
      </ion-card-title>      
      <p>
        CEP: {{contato.cep}}
      </p>
      <p>
        Rua: {{contato.rua}}
      </p>
      <p>
        Bairro: {{contato.bairro}}
      </p>
      <p>
        Cidade: {{contato.cidade}}
      </p>                   
      <ion-button color="danger" size="small" (click) = 'deleteContato(contato.nome)'>Excluir</ion-button>
      <ion-button color="medium" size="small" (click) = 'editContato(contato.nome)'>Editar</ion-button>
    </ion-card-content>    
  </ion-card>
  </ion-toolbar>
  
  


</ion-content>
