<ion-header>
  <ion-toolbar>
    <ion-title>CriarContato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id ="novo-contato" class="ion-padding">    
    <form name="formularioNovoContato"  #f = "ngForm" (submit)="enviarformulario(f)">     
      <div class="ion-padding">
        <ion-item>
          ID:
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Nome:" [(ngModel)] = "nomeFild" name = "nome"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "CEP:" [(ngModel)] = "cepFild" name = "cep"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Rua:" [(ngModel)] = "ruaFild" name = "rua"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Bairro:" [(ngModel)] = "bairroFild" name = "bairro"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Cidade:" [(ngModel)] = "cidadeFild" name = "cidade"></ion-input>
        </ion-item>
      </div>      
      <div padding>
        <ion-button type = "submit" name = "salvarFormularioContato" color ="primary">Salvar</ion-button>
        <ion-button type = "reset" color ="danger">Limpar</ion-button>        
      </div>
    </form>
  </div>

</ion-content>
