<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button color="light" text="Voltar" ></ion-back-button>
    </ion-button>
    <ion-title>Criar novo contato</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <div id ="novo-contato" class="ion-padding">    
    <form #formContato = "ngForm" (submit)="enviarformulario(formContato)">   <!--novalidate [formGroup]="contatoForm" -->      
      <div class="ion-padding">
        <ion-item>
          <ion-input required type="text"  placeholder = "Nome:" [(ngModel)] = 'contato.nome' name = "nome"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "CEP:" [(ngModel)] = "contato.cep" name = "cep" (ionBlur)="buscarCep()"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Rua:" [(ngModel)] = "contato.rua"  name = "rua"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Bairro:" [(ngModel)] = "contato.bairro" name = "bairro"></ion-input>
        </ion-item>
      </div>
      <div class="ion-padding">
        <ion-item>
          <ion-input type="text" placeholder = "Cidade:" [(ngModel)] = "contato.cidade" name = "cidade"></ion-input>
        </ion-item>
      </div>      
      <div padding>
        <ion-button type = "submit" name = "salvarFormularioContato" color ="primary">Salvar</ion-button>
        <ion-button type = "reset" color ="danger">Limpar</ion-button>        
      </div>
    </form>
  </div>
</ion-content>
