<ion-header>
  <ion-toolbar>
    <ion-title>
      Trabalho Prático      
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
<h6>
  <div id="integrantes">
    <li>Cleiton Ribeiro - 11725810</li>    
    <li>Higor Barbosa - 11722919</li>    
    <li>João Pedro - 11711687</li>    
    <li>Ricarte Elias - 11725756</li>    
    <li>Victor Boroni - 11725035</li>    
  </div>  
</h6>
<ion-button [routerLink] = "['/contatos']" routerdirection = "forward" expand="block" fill="outline">Entrar no app</ion-button>
<ion-button [routerLink] = "['/cadastro']" routerdirection = "forward" expand="block" fill="outline">Entrar app1dia</ion-button>
</ion-content>
